body{
    background: repeating-linear-gradient(90deg, rgb(42, 110, 42) 1%, rgb(154, 154, 69) 2%);
    display:flex;
    align-items: center;
    justify-content: center;
}
#main{
    padding-top: 40px;;
}
input{
    height:40px;
    width:400px;
}
button{
    height:48px;
}
#show{
    margin-top:40px;
    padding:50px;
    width:400px;
    height:300px;
    font-size: 50px;
}